
.formCard {
	min-width: 60%;
	min-height: 40vh;
	padding: 5% 5%;
}

.formCard .card-body {
	height: 100%;
}

.formCard .form-control, .form-label {
	margin-top: .5rem;
	margin-bottom: .5rem;
}

.formCard .form-control {
	border-radius: 0;
	border: 0;
	border-bottom: 1px solid #ccc;
	box-shadow: none;
	font-weight: 500;
	color: #333;
	background: transparent;
}

.formCard .form-label {
	font-weight: 800;
}

.formCard form {
	margin: auto;
	display: flex;
	flex-direction: column;
}

.formCard form button {
	margin-top: 1.2rem;
	margin-bottom: .8rem;
	border: 0;
	box-shadow: none;
	font-weight: 600;
	color: #333;
	background: #b4cdff;
}